@charset "UTF-8";

:root {
    --cor0: #49a09d;
    --cor1: #5f2c82;
    --cor3: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 280px;
    height: 600px;
    background-color: var(--cor3);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.535);
}

div#imagem {
    width: 280px;
    height: 250px;
    background-color: var(--cor3);
    background-image: url('../imagens/metal.jpg');
    background-position: center center;
    padding: 10px;
    margin: -10px;
    border-radius: 20px 20px 0px 0px;
}

h1 {
    margin: 20px;
    text-align: center;
}

p {
    font-size: 0.9em;
    line-height: 1.5em;
}

div.input-form {
    background-color: red;
    margin: 10px;
}

span.material-symbols-outlined {
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 5px;
    margin-top: 10px;
}

input.data {
    padding: 7px;
    border-radius: 7px;
    border: none;
}