@charset "UTF-8";

:root {
    --cor0: #49a09d;
    --cor1: #5f2c82;
    --cor3: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 270px;
    height: 600px;
    background-color: var(--cor3);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.535);
}

div#imagem {
    width: 270px;
    height: 250px;
    background-color: var(--cor3);
    background-image: url('../imagens/metal.jpg');
    background-position: center center;
    padding: 10px;
    margin: -10px;
    border-radius: 20px 20px 0px 0px;
}

h1 {
    margin: 20px;
    text-align: center;
}

p {
    font-size: 0.9em;
    line-height: 1.5em;
}

div.input-form {
    background-color: var(--cor1);
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
}

div#div1 {
    position: relative;
}

div#div2 {
    position: relative;
}

span.material-symbols-outlined {
    color: var(--cor3);
    padding: 5px;
}

input.data {
    padding: 11px 11px 11px 5px;
    border-radius: 7px;
    border: none;
    width: 185px;
    background-color: #a7dddb;
}

input#email {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

input#password {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.botao {
    display: block;
    margin: auto;
    text-align: center;
    background-color: var(--cor0);
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#entrar {
    width: 260px;
}

#entrar:hover {
    background-color: #265251;
    cursor: pointer;
}

#esqueci {
    font-weight: lighter;
    color: #265251;
    background-color: white;
    border: 1px solid var(--cor0);
    text-align: center;
}

#esqueci:hover {
    background-color: #5ececa;
    color: white;
}

#email-icon {
    font-size: 1em;
    color: var(--cor0);
}